/* Base styles and opinionated resets for HTML elements used in the configurator. */

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  height: 100dvh;
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ------------Safari iOS---------------- */
@supports (-webkit-overflow-scrolling: touch) {
  html {
    overflow-y: scroll;
  }
}